name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "starting....." >> /home/manas/logs/log.txt
          echo "${GITHUB_REF}" >> /home/manas/logs/log.txt
          echo "end....." >> /home/manas/logs/log.txt
