name: Node.js CI

on:
  push:
    branches: ["dev", "main"]
#   pull_request:
#     branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - run: |
          whoami >> /home/manas/logs/log.txt
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            
          echo "brach: ${GITHUB_REF} is triggered" >> /home/manas/logs/log.txt

          npm i

          pm2 restart prod-cicd-nodeapp || pm2 start npm --name "prod-cicd-nodeapp" -- start

          elif [[ "${GITHUB_REF}" == "refs/heads/dev" ]]; then

          echo "brach: ${GITHUB_REF} is triggered" >> /home/manas/logs/log.txt

          npm i

          pm2 restart dev-cicd-nodeapp || pm2 start npm --name "dev-cicd-nodeapp" -- run dev

          fi
