name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "starting....." >> /home/manas/nodeapp/logs/applog.txt
          echo "started......" >> /home/manas/nodeapp/logs/applog.txt
          npm i
          echo "installed...." >> /home/manas/nodeapp/logs/applog.txt
          npm start
